
body .open-modal .modal{
    transform:scale(1);
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 700px;
    height: 400px;
    margin-left: 320px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

body.open-modal .backdrop {
    opacity:1;
    visibility: visible;
    pointer-events: initial;
}

/* .abc {
    opacity:1;
    visibility: visible;
} */


.modal {
    padding: 24px;
    background-repeat: 4px;
    max-width: 600px;
    width: 100%;
    min-height: 320px;
    color: rgb(99, 99, 99);

    transform:scale(1);
    transition: opacity 200ms ease-in-out;
}


/* ===================================== */

#validation-input {
    border: 3px solid #bdbdbd;
    }
#validation-input:invalid {
    border-color: #f44336;
    }
#validation-input:valid {
    border-color: #4caf50;
    }









